SKYMAP_DATABASE_URL=postgresql://patrick:CHANGEME@127.0.0.1:5432/sky_archive
SKYMAP_STORAGE_ROOT=/mnt/10TB2/skymap
SKYMAP_COLD_STORAGE_ROOT=/mnt/20TB/skymap-cold
SKYMAP_HOT_RETENTION_DAYS=90
SKYMAP_LISTEN_HOST=127.0.0.1
SKYMAP_LISTEN_PORT=8410
SKYMAP_NASA_API_KEY=DEMO_KEY
SKYMAP_QDRANT_URL=http://127.0.0.1:6333
SKYMAP_QDRANT_COLLECTION=sky_embeddings
